@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --cream: #FAF3E0;
    --light-brown: #EABF9F;
    --dark-brown: #B68973;
    --black: #1E212D;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0px;
}

body,
html {
    height: 100%;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
}

.title {
    display: block;
    text-align: center;
    font-size: 4vw;
    color: var(--black);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--dark-brown);
    text-decoration-thickness: 0.4vw;
    padding: 2.5vw 0px 1.5vw;
}

h1 u:after,
u:before {
    /* Extends underline */
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

#form {
    display: flex;
    width: 50%;
    margin-left: 25%;
    background-color: var(--light-brown);
    padding: 0.4vw;
    border-radius: 40px;
}

.text-box,
.button {
    border: none;
    box-sizing: border-box;
    font-size: 2vw;
    color: var(--black);
}

.text-box {
    width: 80%;
    padding-left: 3%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    outline-width: 0;
}

.button {
    width: 21%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--dark-brown);
}

.ingredients {
    width: 50%;
    height: 60%;
    min-height: 20vw;
    margin-left: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}

.ingredient {
    text-align: end;
    font-size: 2vw;
    color: var(--black);
    padding: 3px 0px 0px 30px;
}