{% extends 'base.html' %} {% block content %}
<br>
<h1>    About us</h1>
<p>
        Many people look for recipes that will use the ingredients they already have in their house, but the normal way of searching for recipes is based on the recipe name or category. On this website, users can search for recipes based on their ingredients. We have a substantial collection of recipes on our website and support an account system. Our website was created to help make the hunt for the perfect recipe much easier.
</p>
<br>
<h1>    Developers</h1>
<p>
    Cristian Gutierrez <br>
    <br>
    Eric Anderson <br>
    <br>
    Fernando Hernandez<br>
    <br>
    Jayden Funk <br>
    <br>
    Kenzo Matsuo <br>
    <br>
    Sarah Wilkinson <br>
    <br>
    Yaseen Ali <br>
</p>
{% endblock %}
