<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Generator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="header-container">
      <header>
        <a href="/"
          ><img class="logo" src="../static/images/logo.png" alt="website logo"
        /></a>

        <nav>
          <a class="header" href="/">All Recipes</a>
          <a class="header" href="/">Search</a>
          <a class="header" href="/favorites">Favorite Recipes</a>
        </nav>
        <div class="login">
          <a class="header" href="/login">Log In</a>
        </div>
      </header>
    </div>
    <div class="header-border"></div>

    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
