<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <ul>
          <button class="loginButton"><a href="/login">Login</a></button>
          <button class="registerButton"><a href="/register">Create Account</a></button>
          <button class="logoutButton"><a href="/logout">Logout</a></button>
        </ul>
      </nav>
    <h1><a href="/"><u class="title">Recipe Generator</u></a></h1>
    <div class="container">
        <form id="form">
            <div class="dropdown-container">
                <input class="text-box" type="text" id="input" placeholder="Select ingredients . . ."
                    autocomplete="off">
                <ul class="autocomplete-list" id="ingredient-list"></ul>
            </div>
            <input class="search" id="search" type="button" value="Search" onclick="send_ingredients()">
        </form>
    </div>
    <div class="ingredients" id="ingredients"></div>




    <script src="../static/script.js"></script>
</body>

</html>