<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Generator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1><u class="title">Recipe Generator</u></h1>
    <div class="container">
        <form id="form">
            <input class="text-box" type="text" placeholder="Select ingredients . . .">
            <input class="button" type="button" value="+" onclick="">
        </form>
        <button class="submit"><label>Search</label></button>
    </div>
    <div class="ingredients">
        <p class="ingredient">Eggs</p>
        <p class="ingredient">Cheese</p>
        <p class="ingredient">Bacon</p>
        <p class="ingredient">Eggs</p>
        <p class="ingredient">Cheese</p>
        <p class="ingredient">Bacon</p>
        <p class="ingredient">Eggs</p>
        <p class="ingredient">Cheese</p>
        <p class="ingredient">Bacon</p>
        <p class="ingredient">Eggs</p>
        <p class="ingredient">Cheese</p>
        <p class="ingredient">Bacon</p>
    </div>
</body>

</html>