<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
        h1{
          color: green;
          }
    </style>
  </head>
  <body>
    <div class="header-container">
      <header>
              <div class="logo">
                  <a class="header" href="/">Recipe Generator</a>
              </div>
              <nav>
                  <a class="header" href="/">All Recipes</a>
                  <a class="header" href="/">Search</a>
                  <a class="header" href="/">Top Recipes</a>
              </nav>
              <div class="login">
                  <a class="header" href="/login">Log In</a>
              </div>
      </header>
  </div>
  <div class="header-border"></div>

        <button class="loginButton"><a href="/login">Login</a></button>
        <button class="registerButton"><a href="/register">Create Account</a></button>

    <h1>Login to your account</h1>
    <form action="#" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>