<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>

<body>
    <div class="header-container">
        <header>
                <div class="logo">
                    <a class="header" href="/">Recipe Generator</a>
                </div>
                <nav>
                    <a class="header" href="/">All Recipes</a>
                    <a class="header" href="/">Search</a>
                    <a class="header" href="/">Top Recipes</a>
                </nav>
                <div class="login">
                    <a class="header" href="/login">Log In</a>
                </div>
        </header>
    </div>
    <div class="header-border"></div>
    <span class="results">Recommended recipes . . .</span>
    <div class="recipes-container">
        {% for recipe in recipe_list %}
        <a href="{{ recipe['Link'] }}" target="_blank">
            <div class="recipe">
                <img src="../static/images/{{recipe['Name'].replace(' ', '-')}}.jpg" width="300px" height="150px"
                    rel="{{ recipe['Name'] }}">
                <div class="text-container">
                    <h2 class="recipe-name">{{ recipe["Name"] }}</h2>
                    <p class="recipe-ingredients">
                        {% for i in range(recipe["Ingredients"] | length - 1) %}
                        {{ recipe["Ingredients"][i] }},
                        {% endfor %}
                        {{ recipe["Ingredients"][recipe["Ingredients"] | length - 1] }}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>